- name: debug
  ansible.builtin.import_tasks:
    file: 00-debug.yml
  when: createlxc_debug

- name: get lxc info
  community.proxmox.proxmox_vm_info:
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    node: "{{ createlxc_node | default(omit) }}"
    type: lxc
    name: "{{ createlxc_hostname }}"
    config: current
  register: lxcinfo

- name: debug info
  ansible.builtin.debug:
    msg:
      - "{{ lxcinfo }}"
  when:
    - createlxc_debug

- name: create lxc
  community.proxmox.proxmox:
    state: present
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    node: "{{ createlxc_node | default(omit) }}"
    pool: "{{ createlxc_pool | default(omit) }}"
    # OS
    ostemplate: "{{ createlxc_ostemplate }}"
    ostype: "{{ createlxc_ostype }}"
    # id,name
    vmid: "{{ createlxc_vmid | default(omit) | int }}"
    hostname: "{{ createlxc_hostname }}"
    # user
    password: "{{ createlxc_password }}"
    pubkey: "{{ createlxc_pubkey }}"
    # cpu
    cores: "{{ createlxc_cores | default(1) }}"
    cpus: "{{ createlxc_cpus | default(omit) }}"
    cpuunits: "{{ createlxc_cpuunits | default(omit) }}"
    # memory
    memory: "{{ createlxc_memory }}"
    swap: "{{ createlxc_swap }}"
    # disk
    disk: "{{ createlxc_disk }}"
    # mount_volumes
    mount_volumes: "{{ createlxc_mount_volumes }}"
    # others
    unprivileged: "{{ createlxc_unprivileged }}"
    features: "{{ createlxc_features }}"
  register: createlxc_result

- name: debug create
  ansible.builtin.debug:
    msg:
      - "{{ createlxc_result }}"
  when: createlxc_debug

- name: update network settings
  community.proxmox.proxmox:
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    node: "{{ createlxc_node | default(omit) }}"
    pool: "{{ createlxc_pool | default(omit) }}"
    update: true
    # id,name
    vmid: "{{ createlxc_result.vmid }}"
    hostname: "{{ createlxc_hostname }}"
    # network
    netif: "{{ createlxc_netif }}"

- name: update tags
  community.proxmox.proxmox:
    node: "{{ createlxc_node | default(omit) }}"
    pool: "{{ createlxc_pool | default(omit) }}"
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    update: true
    hostname: "{{ createlxc_hostname }}"
    vmid: "{{ createlxc_result.vmid }}"
    tags: "{{ createlxc_tags }}"
  when:
    - createlxc_tags != []
    - lxcinfo.proxmox_vms[0].config.tags | default(';') | split(';') | difference(createlxc_tags) != []

- name: update description
  community.proxmox.proxmox:
    node: "{{ createlxc_node | default(omit) }}"
    pool: "{{ createlxc_pool | default(omit) }}"
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    update: true
    hostname: "{{ createlxc_hostname }}"
    vmid: "{{ createlxc_result.vmid }}"
    description: "{{ createlxc_description }}"
  when:
    - createlxc_description != ""
    - createlxc_description != lxcinfo.proxmox_vms[0].config.description | default('') | trim

- name: set state
  community.proxmox.proxmox:
    api_host: "{{ createlxc_api_host }}"
    api_user: "{{ createlxc_api_user | default(omit) }}"
    api_password: "{{ createlxc_api_password | default(omit) }}"
    api_token_id: "{{ createlxc_api_token_id | default(omit) }}"
    api_token_secret: "{{ createlxc_api_token_secret | default(omit) }}"
    vmid: "{{ createlxc_result.vmid }}"
    hostname: "{{ createlxc_hostname }}"
    state: "{{ createlxc_state | default('stopped') }}"
