---
# pdmn_owncloud_
pdmn_owncloud_default_owner: root
pdmn_owncloud_default_group: root
pdmn_owncloud_default_dir_mode: '0750'
pdmn_owncloud_default_file_mode: '0640'

pdmn_owncloud_trusted_proxies: 
  - 10.88.0.1
pdmn_owncloud_overwriteprotocol: https
pdmn_owncloud_overwritehost: ""
pdmn_owncloud_overwritewebroot: "/" #/owncloud
pdmn_owncloud_domain: ""
pdmn_owncloud_trusted_domains:
  - localhost
  - "{{ pdmn_owncloud_domain }}"
pdmn_owncloud_db_type: mysql
pdmn_owncloud_db_name: owncloud_db
pdmn_owncloud_db_user: owncloud_user
pdmn_owncloud_db_pass: ""
pdmn_owncloud_db_host: 127.0.0.1
pdmn_owncloud_redis_host: 127.0.0.1
pdmn_owncloud_admin_user: admin
pdmn_owncloud_admin_pass: ""

pdmn_owncloud_podname: owncloud
pdmn_owncloud_publish: []
pdmn_owncloud_pod_dir: "{{ pdmn_root_dir }}/{{ pdmn_owncloud_podname }}"

pdmn_owncloud_dirs:
  - path: "{{ pdmn_owncloud_pod_dir }}"

pdmn_owncloud_containers:
  - name: "{{ pdmn_owncloud_podname }}-db"
    pod: "{{ pdmn_owncloud_podname }}"
    image: docker.io/webhippie/mariadb
    release: latest
    restart: always
    env:
      MARIADB_ROOT_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
      MARIADB_USERNAME: "{{ pdmn_owncloud_db_user }}"
      MARIADB_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
      MARIADB_DATABASE: "{{ pdmn_owncloud_db_name }}"
      MARIADB_MAX_ALLOWED_PACKET: 128M
      MARIADB_INNODB_LOG_FILE_SIZE: 64M
    volumes:
      - "{{ pdmn_owncloud_pod_dir }}/mysql:/var/lib/mysql:Z"
      - "{{ pdmn_owncloud_pod_dir }}/backup:/var/lib/backup:Z"
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
  - name: "{{ pdmn_owncloud_podname }}-redis"
    pod: "{{ pdmn_owncloud_podname }}"
    image: docker.io/webhippie/redis
    release: latest
    restart: always
    env:
      REDIS_DATABASES: 1
    volumes:
      - "{{ pdmn_owncloud_pod_dir }}/redis:/var/lib/redis:Z"
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
  - name: "{{ pdmn_owncloud_podname }}-server"
    pod: "{{ pdmn_owncloud_podname }}"
    image: "docker.io/owncloud/server"
    release: "latest"
    restart: always
    requires:
      - "{{ pdmn_owncloud_podname }}-db"
      - "{{ pdmn_owncloud_podname }}-redis"
    env:
      OWNCLOUD_DOMAIN: "{{ pdmn_owncloud_domain }}"
      OWNCLOUD_DB_TYPE: "{{ pdmn_owncloud_db_type }}"
      OWNCLOUD_DB_NAME: "{{ pdmn_owncloud_db_name }}"
      OWNCLOUD_DB_USERNAME: "{{ pdmn_owncloud_db_user }}"
      OWNCLOUD_DB_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
      OWNCLOUD_DB_HOST: "{{ pdmn_owncloud_db_host }}"
      OWNCLOUD_ADMIN_USERNAME: "{{ pdmn_owncloud_admin_user }}"
      OWNCLOUD_ADMIN_PASSWORD: "{{ pdmn_owncloud_admin_pass }}"
      OWNCLOUD_REDIS_HOST: "{{ pdmn_owncloud_redis_host }}"
      OWNCLOUD_REDIS_ENABLED: true
      OWNCLOUD_MYSQL_UTF8MB4: true
      OWNCLOUD_TRUSTED_DOMAINS: "{{ pdmn_owncloud_trusted_domains | join(',') }}"
      OWNCLOUD_TRUSTED_PROXIES: "{{ pdmn_owncloud_trusted_proxies }}"
      OWNCLOUD_OVERWRITEPROTOCOL: "{{ pdmn_owncloud_overwriteprotocol }}"
      OWNCLOUD_OVERWRITEHOST: "{{ pdmn_owncloud_overwritehost }}"
      OWNCLOUD_OVERWRITEWEBROOT: "{{ pdmn_owncloud_overwritewebroot }}"
    volumes:
      - "{{ pdmn_owncloud_pod_dir }}/data:/mnt/data:Z"
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
