ocserv_fqdn: "{{ ansible_nodename }}"
ocserv_conf_dir: "/etc/ocserv"
ocserv_configpergroup_dir: "{{ ocserv_conf_dir }}/group.d/"
ocserv_configperuser_dir: "{{ ocserv_conf_dir }}/user.d/"
ocserv_conf_file: "{{ ocserv_conf_dir }}/ocserv.conf"
ocserv_users_file: "{{ ocserv_conf_dir }}/ocpasswd"
ocserv_profile_file: "{{ ocserv_conf_dir }}/profile.xml"
ocserv_listen_host: "{{ ansible_default_ipv4.address }}"
ocserv_tcp_port: 443
ocserv_udp_listen_host: "{{ ansible_default_ipv4.address }}"
ocserv_udp_port: 443
ocserv_server_cert: ""
ocserv_server_key: ""
ocserv_user: ocserv
ocserv_group: ocserv
ocserv_default_domain: "{{ ansible_domain }}"
ocserv_ipv4network: ""
ocserv_nameservers: []
ocserv_cacert: ""
ocserv_sysctl:
  - name: net.ipv6.conf.all.forwarding
    value: 1
  - name: net.ipv4.ip_forward
    value: 1
ocserv_routes: []
ocserv_noroutes: []
ocserv_groups: []

ocserv_dirs:
  - "{{ ocserv_conf_dir }}"
  - "{{ ocserv_configpergroup_dir }}"
  - "{{ ocserv_configperuser_dir }}"

ocserv_managed_dirs:
  - "{{ ocserv_conf_dir }}"

ocserv_managed_files:
  - "{{ ocserv_conf_file }}"
  - "{{ ocserv_users_file }}"
  - "{{ ocserv_profile_file }}"

ocserv_pergroup_config: []
  # - name: default
  #   content: |
  #     route = {{ ocserv_ipv4network }}
  #     {% for ns in ocserv_nameservers %}
  #     dns = {{ ns }}
  #     {% endfor %}
  # - name: split
  #   content: |
  #     route = {{ ocserv_ipv4network }}
  #     {% for ns in ocserv_nameservers %}
  #     dns = {{ ns }}
  #     {% endfor %}

ocserv_peruser_config: []
