certreq_default_owner: root
certreq_default_group: root
certreq_default_file_mode: '0644'
certreq_default_dir_mode: '0755'
certreq_force: false

certreq_key_dir: "/usr/local/etc/pki/key"
certreq_csr_dir: "/usr/local/etc/pki/csr"
certreq_crt_dir: "/usr/local/etc/pki/crt"
certreq_dirs:
  - path: "{{ certreq_key_dir }}"
  - path: "{{ certreq_csr_dir }}"
  - path: "{{ certreq_crt_dir }}"

certreq_csr_organizational_unit_name: "IT"
certreq_csr_organization_name: "R"
certreq_csr_locality_name: "MSK"
certreq_csr_country_name: "RU"
certreq_csr_email_address: "arsenyratner@gmail.com"
certreq_csr_cn: "{{ ansible_nodename }}"
certreq_csr_san:
  - "DNS:{{ inventory_hostname }}"
  # - "IP:{{ ansible_default_ipv4.address }}" # для certbot не подойдёт
certreq_csr_key_usage:
  # (цифровая подпись)
  - digitalSignature
  # (неотказуемость, используется в основном для электронной почты и электронного документооборота)
  # - nonRepudiation
  # (шифрование ключа, используется для обмена сессионными ключами, например в старых версиях TLS)
  # - keyEncipherment
  # (шифрование данных, прямое шифрование пользовательских данных)
  # - dataEncipherment
  # (подпись сертификатов, необходимо для удостоверяющих центров/CA)
  # - keyCertSign
  # (подпись списков отзыва сертификатов, необходимо для управления списками CRL)
  # - cRLSign
  # (согласование ключа, используется в алгоритмах, таких как Диффи-Хеллман, для генерации общего секрета)
  # - keyAgreement
  # (только шифрование, используется только в сочетании с keyAgreement)
  # - encipherOnly
  # (только расшифрование, используется только в сочетании с keyAgreement) 
  # - decipherOnly
certreq_csr_extended_key_usage:
  # (Аутентификация сервера TLS)
  - serverAuth
  # (Аутентификация клиента TLS)
  # - clientAuth
  # (Подпись кода)
  # - codeSigning
  # (Защита электронной почты)
  # - emailProtection
  # (Штамп времени)
  # - timeStamping
  # (Подпись OCSP)
  # - ocspSigning
  # (Конечная система IPSec)
  # - ipsecEndSystem
  # (Туннель IPSec)
  # - ipsecTunnel
  # (Пользователь IPSec)
  # - ipsecUser
  # (Биометрическая информация)
  # - biometricInfo
  # (Система управления распределенными версиями)
  # - dvcs
  # (Авторизация сервера SGBP)
  # - sbgpCertAAServerAuth
  # (Протокол проверки состояния сертификата)
  # - scvpServer
  # (EAP через PPP)
  # - eapOverPPP
  # (EAP через LAN)
  # - eapOverLAN

certreq_fetch_dir: "files/pki"
certreq_fetch_crt: false
certreq_fetch_csr: false
certreq_fetch_key: false
certreq_notify: []

certreq_provider: "selfsigned" # csronly acme certbot ownca selfsigned

certreq_key_size: 2048
certreq_key_type: RSA
certreq_key_file: "{{ certreq_key_dir }}/{{ certreq_csr_cn }}.key"
certreq_csr_file: "{{ certreq_csr_dir }}/{{ certreq_csr_cn }}.csr"
certreq_crt_file: "{{ certreq_crt_dir }}/{{ certreq_csr_cn }}.crt"
certreq_fullchain_file: "{{ certreq_crt_dir }}/{{ certreq_csr_cn }}-fullchain.pem"
certreq_chain_file: "{{ certreq_crt_dir }}/{{ certreq_csr_cn }}-chain.pem"

certreq_ownca_host: "localhost"
certreq_ownca_root_dir: "/opt/ca/localhost"
certreq_ownca_cacert: "{{ certreq_ownca_root_dir }}/localhost.crt"
certreq_ownca_cakey: "{{ certreq_ownca_root_dir }}/localhost.key"

certreq_acme_step2_host: ""
certreq_acme_webroot: "/var/www/html"  # + /.well-known/acme-challenge/
certreq_acme_account_key: ""
# certreq_acme_directory: https://acme-v02.api.letsencrypt.org/directory
certreq_acme_directory: https://acme-staging-v02.api.letsencrypt.org/directory
certreq_acme_version: 2
certreq_acme_challenge: http-01
