certreq_default_organization_name: ""
certreq_default_key_size: 2048
certreq_default_key_type: RSA
certreq_default_key_path: "{{ certreq_key_dir }}/{{ ansible_nodename }}.key"
certreq_default_crt_path: "{{ certreq_cert_dir }}/{{ ansible_nodename }}.crt"
certreq_default_cn: "{{ ansible_nodename }}"
certreq_default_san:
  - "DNS:{{ ansible_nodename }}"
  - "DNS:{{ inventory_hostname }}"
  - "IP:{{ ansible_default_ipv4.address }}"

certreq_fetch_crt: false
certreq_fetch_csr: false
certreq_fetch_key: false

certreq_provider: "" # csronly letsencrypt ownca selfsigned

certreq_key_dir: ""
certreq_cert_dir: ""

certreq_default_owner: root
certreq_default_group: root
certreq_default_file_mode: '0644'
certreq_default_dir_mode: '0755'
certreq_dirs:
  - path: "{{ certreq_key_dir }}"
  - path: "{{ certreq_cert_dir }}"

certreq_local_pki_storage_dir: "files/pki"

certreq_ownca_host: "localhost"
certreq_ownca_root_dir: "/opt/ca/r_l2_r-vscode1"
certreq_ownca_cacert: "{{ certreq_ownca_root_dir }}/r_l2_r-vscode1.crt"
certreq_ownca_cakey: "{{ certreq_ownca_root_dir }}/r_l2_r-vscode1.key"
