certreq_default_organizational_unit_name: "IT"
certreq_default_organization_name: "R"
certreq_default_locality_name: "MSK"
certreq_default_country_name: "RU"
certreq_default_email_address: ""
certreq_default_key_usage:
  # (цифровая подпись)
  - digitalSignature
  # (неотказуемость, используется в основном для электронной почты и электронного документооборота)
  # - nonRepudiation
  # (шифрование ключа, используется для обмена сессионными ключами, например в старых версиях TLS)
  # - keyEncipherment
  # (шифрование данных, прямое шифрование пользовательских данных)
  # - dataEncipherment
  # (подпись сертификатов, необходимо для удостоверяющих центров/CA)
  # - keyCertSign
  # (подпись списков отзыва сертификатов, необходимо для управления списками CRL)
  # - cRLSign
  # (согласование ключа, используется в алгоритмах, таких как Диффи-Хеллман, для генерации общего секрета)
  # - keyAgreement
  # (только шифрование, используется только в сочетании с keyAgreement)
  # - encipherOnly
  # (только расшифрование, используется только в сочетании с keyAgreement) 
  # - decipherOnly
certreq_default_extended_key_usage:
  # (Аутентификация сервера TLS)
  - serverAuth
  # (Аутентификация клиента TLS)
  # - clientAuth
  # (Подпись кода)
  # - codeSigning
  # (Защита электронной почты)
  # - emailProtection
  # (Штамп времени)
  # - timeStamping
  # (Подпись OCSP)
  # - ocspSigning
  # (Конечная система IPSec)
  # - ipsecEndSystem
  # (Туннель IPSec)
  # - ipsecTunnel
  # (Пользователь IPSec)
  # - ipsecUser
   # (Биометрическая информация)
  # - biometricInfo
  # (Система управления распределенными версиями)
  # - dvcs
  # (Авторизация сервера SGBP)
  # - sbgpCertAAServerAuth
  # (Протокол проверки состояния сертификата)
  # - scvpServer
  # (EAP через PPP)
  # - eapOverPPP
  # (EAP через LAN)
  # - eapOverLAN
certreq_default_key_size: 2048
certreq_default_key_type: RSA
certreq_default_key_path: "{{ certreq_key_dir }}/{{ ansible_nodename }}.key"
certreq_default_crt_path: "{{ certreq_cert_dir }}/{{ ansible_nodename }}.crt"
certreq_default_cn: "{{ ansible_nodename }}"
certreq_default_san:
  - "DNS:{{ ansible_nodename }}"
  - "DNS:{{ inventory_hostname }}"
  - "IP:{{ ansible_default_ipv4.address }}"

certreq_fetch_crt: false
certreq_fetch_csr: false
certreq_fetch_key: false

certreq_provider: "" # csronly letsencrypt ownca selfsigned

certreq_key_dir: ""
certreq_cert_dir: ""

certreq_default_owner: root
certreq_default_group: root
certreq_default_file_mode: '0644'
certreq_default_dir_mode: '0755'
certreq_dirs:
  - path: "{{ certreq_key_dir }}"
  - path: "{{ certreq_cert_dir }}"

certreq_local_pki_storage_dir: "files/pki"

certreq_ownca_host: "localhost"
certreq_ownca_root_dir: "/opt/ca/r_l2_r-vscode1"
certreq_ownca_cacert: "{{ certreq_ownca_root_dir }}/r_l2_r-vscode1.crt"
certreq_ownca_cakey: "{{ certreq_ownca_root_dir }}/r_l2_r-vscode1.key"
