certbot_packages:
  - certbot
certbot_etc_dir: "/etc/letsencrypt"
certbot_cmd_line_suffix: ""
certbot_email: arsenyratner@gmail.com
certbot_bin: /usr/bin/certbot
certbot_subcommand: certonly
certbot_newsan_found: false
certbot_cmdline_suffix: ""
certbot_certificates: []
  # - name: "{{ inventory_hostname }}"
  #   domains:
  #     - one.more.name.com
## standalone
certbot_plugin: standalone
certbot_stopped_services:
  - nginx
certbot_deploy_services: 
  - nginx
  - ocserv
## webroot
# certbot_plugin: webroot
# certbot_stopped_services: []
certbot_webroot_dir: "/var/www/html"

certbot_create_command: >-
  {{ certbot_bin }} {{ certbot_subcommand }} --agree-tos -n
  --email {{ createcert.email | default(certbot_email) }}
  -d {{ createcert.name + ',' + (createcert.domains | default([]) | join(',') ) }}
  {% if createcert.plugin | default(certbot_plugin) == "standalone" %}
  --standalone
  --pre-hook "systemctl stop {{certbot_stopped_services | join(' ') }}"
  --post-hook "systemctl start {{ certbot_stopped_services | join(' ') }}"
  --expand
  {% elif createcert.plugin | default(certbot_plugin) == "webroot" %}
  --webroot -w "{{ certbot_webroot_dir }}"
  --deploy-hook "systemctl reload {{ certbot_stopped_services | join(' ') }}"
  --expand
  {% else %}
  --standalone
  --dry-run
  {% endif %}

certbot_renew_command: >-
  {{ certbot_bin }} renew -n
  -m {{ certbot_email }}
  --webroot -w {{ certbot_webroot_dir }}
  {% if certbot_deploy_services != [] %}
  --deploy-hook "systemctl reload {{ certbot_deploy_services | join(' ') }}"
  {% endif %}

certbot_dirs:
  - certbot_webroot_dir
  - certbot_etc_dir
