- name: 110 Checking the issue conditions {{ certificates_csr_cn }}
  ansible.builtin.include_tasks:
    file: "110_check_issue_conditions.yml"
  when: certificates_csr_cn != ''
  ignore_errors: true

- name: 130 Create certificate {{ certificates_csr_cn }}
  ansible.builtin.include_tasks:
    file: "135_provider_{{ certificates_provider }}.yml"
  ignore_errors: true
  when: certificates_issue

- name: 190 Fetch {{ certificates_csr_cn }}
  ansible.builtin.include_tasks:
    file: "190_fetch.yml"
  when: certificates_fetch_crt or
        certificates_fetch_csr or
        certificates_fetch_key
  ignore_errors: true
