- name: 130 Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ certificates_item.path }}"
    owner: "{{ certificates_owner }}"
    group: "{{ certificates_group }}"
    mode: "{{ certificates_dir_mode }}"
  loop: "{{ certificates_dirs }}"
  loop_control:
    loop_var: certificates_item

# - name: 130 Get key info
#   community.crypto.openssl_privatekey_info:
#     path: "{{ certificates_key_file }}"
#   register: certificates_key_result
#   ignore_errors: true

- name: 130 Create key {{ certificates_csr_cn }}
  community.crypto.openssl_privatekey:
    force: "{{certificates_key_force }}"
    owner: "{{ certificates_owner }}"
    group: "{{ certificates_group }}"
    mode: '0600'
    path: "{{ certificates_key_file }}"
    size: "{{ certificates_key_size }}"
    type: "{{ certificates_key_type }}"
    return_content: true
    backup: true
  register: certificates_key_result
  when: certificates_key_file != ""

- name: 130 Create csr {{ certificates_csr_cn }}
  community.crypto.openssl_csr:
    privatekey_path: "{{ certificates_key_file }}"
    common_name: "{{ certificates_csr_cn }}"
    subject_alt_name: "{{ certificates_csr_san }}"
    organizational_unit_name: "{{ certificates_csr_organizational_unit_name }}"
    organization_name: "{{ certificates_csr_organization_name }}"
    locality_name: "{{ certificates_csr_locality_name }}"
    country_name: "{{ certificates_csr_country_name }}"
    email_address: "{{ certificates_csr_email_address }}"
    key_usage: "{{ certificates_csr_key_usage }}"
    extended_key_usage: "{{ certificates_csr_extended_key_usage }}"
    path: "{{ certificates_csr_file }}"
    return_content: true
  register: certificates_csr_result
  changed_when: false
  when: certificates_csr_file != ""
