- debug:
    msg:
      - "{{ certificates_fetch_crt }}"
      - "{{ certificates_fetch_csr }}"
      - "{{ certificates_fetch_key }}"

- name: 190 Fetch crt {{ certificates_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certificates_default_file_mode }}"
    content: "{{ certificates_crt_result.certificate }}"
    dest: "{{ certificates_fetch_dir }}/{{ certificates_csr_cn }}.crt"
    backup: true
  when: certificates_fetch_crt

- name: 190 Fetch csr {{ certificates_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certificates_default_file_mode }}"
    content: "{{ certificates_csr_result.csr }}"
    dest: "{{ certificates_fetch_dir }}/{{ certificates_csr_cn }}.csr"
    backup: true
  when: certificates_fetch_csr

- name: 190 Fetch key {{ certificates_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certificates_default_file_mode }}"
    content: "{{ certificates_key_result.privatekey }}"
    dest: "{{ certificates_fetch_dir }}/{{ certificates_csr_cn }}.key"
    backup: true
  when: certificates_fetch_key
