# - name: Distribution specific variables
#   ansible.builtin.include_vars: "{{ certificates_item }}"
#   with_first_found:
#     - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
#     - "_{{ ansible_distribution | lower }}.yml"
#     - "_{{ ansible_os_family | lower }}.yml"
#   ignore_errors: true
#   failed_when: false
#   loop_control:
#     loop_var: certificates_item

# - name: Distribution specific tasks
#   ansible.builtin.include_tasks:
#     file: "{{ certificates_item }}"
#   with_first_found:
#     - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
#     - "_{{ ansible_distribution | lower }}.yml"
#     - "_{{ ansible_os_family | lower }}.yml"
#   ignore_errors: true
#   loop_control:
#     loop_var: certificates_item

- name: Isuue certificates 
  ansible.builtin.include_tasks:
    file: "10_certificate.yml"
  loop: "{{ certificates_list }}"
  loop_control:
    loop_var: certificates_cert
    label: "{{ certificates_cert.csr_cn }}"
