- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ postinstall_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false
  loop_control:
    loop_var: postinstall_item

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ postinstall_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  loop_control:
    loop_var: postinstall_item

- name: Set fqdn
  ansible.builtin.hostname:
    use: systemd
    name: |-
      {% if postinstall_domainname != "" %}{{ postinstall_hostname }}.{{ postinstall_domainname }}
      {% elif postinstall_domainname == "" %}{{ postinstall_hostname }}{% endif %}
  notify: General reboot system

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Disable and stop services
  ansible.builtin.systemd_service:
    name: "{{ service }}"
    state: stopped
    enabled: false
  loop: "{{ (postinstall_serivces_disabled + postinstall_serivces_masked) }}"
  loop_control:
    loop_var: service
  when:
    - ansible_facts.services[service] is defined
    - ansible_facts.services[service].status == "enabled"
    - (postinstall_serivces_disabled + postinstall_serivces_masked) != []
  notify: General reboot system

- name: Mask services
  ansible.builtin.systemd_service:
    name: "{{ service }}"
    masked: true
  loop: "{{ postinstall_serivces_masked }}"
  loop_control:
    loop_var: service
  when:
    - ansible_facts.services[service] is defined
  notify: General reboot system

- name: Set timezone
  community.general.timezone:
    name: "{{ postinstall_timezone }}"
  when: postinstall_timezone is defined

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
