- name: set defaults
  ansible.builtin.set_fact:
    sambafs_share_ro_group: "{{ sambafs_group_pre }}_{{ sambafs_folder.path | replace('/', '') }}_{{ sambafs_group_suf_ro }}" 
    sambafs_share_rw_group: "{{ sambafs_group_pre }}_{{ sambafs_folder.path | replace('/', '') }}_{{ sambafs_group_suf_rw }}"

- name: create folder {{ sambafs_folder.path }}
  ansible.builtin.file:
    mode: '0755'
    state: directory
    path: "{{ sambafs_folder.path }}"
    owner: "{{ sambafs_folder.owner | default('root') }}"
    group: "{{ sambafs_folder.group | default('root') }}"
    # mode: "{{ sambafs_folder.mode | default('0770') }}"

- name: set permissions {{ sambafs_folder.path }}
  ansible.posix.acl:
    recursive: true
    state: "{{ sambafs_share_item.state | default('present')}}"
    etype: "{{ sambafs_share_item.etype | default('group')}}"
    path: "{{ sambafs_folder.path }}"
    entity: "{{ sambafs_share_item.entity | default('') }}"
    permissions: "{{ sambafs_share_item.permissions }}"
    default: "{{ sambafs_share_item.default }}"
  loop: "{{
      sambafs_folder.acls | default([]) +
      [
        { 'default': false, 'permissions': 'r-x', 'entity': sambafs_share_ro_group },
        { 'default': false, 'permissions': 'rwx', 'entity': sambafs_share_rw_group },
        { 'default': true,  'permissions': 'r-x', 'entity': sambafs_share_ro_group },
        { 'default': true,  'permissions': 'rwx', 'entity': sambafs_share_rw_group },
      ]
    }}"
  loop_control:
    loop_var: sambafs_share_item
  when: sambafs_set_permissions_flag 
