- name: Distribution specific variables
  vars:
    distribution_firstfound_paths: ['vars']
  ansible.builtin.include_vars:
    file: "{{ lookup('ansible.builtin.first_found', distribution_firstfound) }}"

- name: Distribution specific tasks
  vars:
    distribution_firstfound_paths: ['tasks']
  ansible.builtin.include_tasks:
    file: "{{ lookup('ansible.builtin.first_found', distribution_firstfound) }}"

- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ item.mode | default(sambfs_default_mode_dir) }}"
    owner: "{{ item.owner | default(sambafs_default_user) }}"
    group: "{{ item.group | default(sambafs_default_group) }}"
  loop: "{{ sambafs_dirs }}"
  when: sambafs_dirs != []
  notify: restart samba

- name: create group list
  ansible.builtin.set_fact:
    sambafs_groups: "{{
        sambafs_groups +
        [
          sambafs_group_pre + '_' + sambafs_folder.path | replace('/', '') + '_' + sambafs_group_suf_rw,
          sambafs_group_pre + '_' + sambafs_folder.path | replace('/', '') + '_' + sambafs_group_suf_ro,
        ]
      }}"
  loop: "{{ sambafs_folders }}"
  loop_control:
    loop_var: sambafs_folder
    label: "{{ sambafs_folder.path }}"

- name: create groups
  ansible.builtin.group:
    name: "{{ sambafs_item }}"
  loop: "{{ sambafs_groups }}"
  loop_control:
    loop_var: sambafs_item

- name: create folders
  ansible.builtin.include_tasks:
    file: tasks/folder.yml
  loop: "{{ sambafs_folders }}"
  loop_control:
    loop_var: sambafs_folder
    label: "{{ sambafs_folder.path }}"

- name: /etc/samba/smb.conf
  ansible.builtin.template:
    mode: '0644'
    backup: true
    src: smb.conf
    dest: "{{ sambafs_conf_dir }}/smb.conf"
  notify: restart samba

- name: systemctl enable smbd
  ansible.builtin.systemd_service:
    name: smbd
    enabled: true
  notify: restart samba

- name: create samba users and folders
  ansible.builtin.include_tasks:
    file: tasks/user.yml
  loop: "{{ sambafs_users }}"
  loop_control:
    loop_var: sambafs_user
    label: "{{ sambafs_user.name }}"
  when: sambafs_users != []
