- name: create share config
  ansible.builtin.template:
    src: share.conf
    dest: "{{ sambafs_confd_dir }}/share-{{ sambafs_share.name }}.conf"
  notify: restart smb

- name: create share dir
  ansible.builtin.file:
    state: directory
    path: "{{ sambafs_share.path }}"
    owner: root
    group: root
    mode: '2755'

- name: create domain local groups
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: CN={{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ acl.suffix }},OU=fs,{{ ldap_groupsou }},{{ ldap_basedn }}
    objectClass: 
    - top
    - group
    attributes:
      cn: "{{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ acl.suffix }}"
      name: "{{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ acl.suffix }}"
      sAMAccountName: "{{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ acl.suffix }}"
      groupType: -2147483644
      objectCategory: CN=Group,CN=Schema,CN=Configuration,{{ ldap_basedn }}
      # distinguishedName: CN={{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ sambafs_group }},{{ ldap_groupsou }},{{ ldap_basedn }}
  loop_control:
    loop_var: acl
  loop: "{{ sambafs_share.acl | default(sambafs_default_share_acl) }}"
  when: acl.suffix is defined
  register: create_domain_group_result

- pause: "seconds=10"
  when: create_domain_group_result.changed 

- name: Set acl when entity defined
  ansible.posix.acl:
    path: "{{ sambafs_share.path }}"
    entity: "{{ acl.entity }}"
    etype: "{{ acl.type }}"
    permissions: "{{ acl.permissions }}"
    default: "{{ acl.default }}"
    state: present
    recursive: true
  loop_control:
    loop_var: acl
  loop: "{{ sambafs_share.acl | default(sambafs_default_share_acl) }}"
  when: acl.entity is defined

- name: Set acl when group suffix defined
  ansible.posix.acl:
    path: "{{ sambafs_share.path }}"
    entity: "{{ sambafs_group_pre }}_share_{{ ansible_hostname }}_{{ sambafs_share.name }}_{{ acl.suffix }}"
    etype: "{{ acl.type }}"
    permissions: "{{ acl.permissions }}"
    default: "{{ acl.default }}"
    state: present
    recursive: true
  loop_control:
    loop_var: acl
  loop: "{{ sambafs_share.acl | default(sambafs_default_share_acl) }}"
  when: acl.suffix is defined

- name: create automount ou
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: "{{ ldap_autofsou }},{{ ldap_basedn }}"
    objectClass: 
      - top
      - organizationalUnit
    attributes:
      ou: ${ROOTOU}

- name: create auto.master nismap
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: CN=auto.master,{{ ldap_autofsou }},{{ ldap_basedn }}
    objectClass: 
      - nisMap
    attributes:
      nisMapName: auto.master

- name: create direct nisobject
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: CN=/-,CN=auto.master,{{ ldap_autofsou }},{{ ldap_basedn }}
    objectClass: 
      - nisObject
    attributes:
      nisMapName: /-
      nisMapEntry: auto.direct

- name: create auto.direct nismap container fo mountpoints
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: CN=auto.direct,{{ ldap_autofsou }},{{ ldap_basedn }}
    objectClass: 
      - nisMap
    attributes:
      nisMapName: auto.direct

- name: add mountpoint
  vars:
    sambafs_share_mountpoint: "/mnt/{{ ansible_hostname }}/{{ sambafs_share.name }}"
    sambafs_share_mountsrc: "//{{ ansible_hostname }}.{{ domain_name }}/{{sambafs_share.name}}"
    sambafs_share_mountopts: "{{ sambafs_mountopts }}"
  community.general.ldap_entry:
    bind_dn: "{{ domain_shortname }}\\{{ ldap_admin_user }}"
    bind_pw: "{{ ldap_admin_pass }}"
    server_uri: "ldap://{{ domainjoin_dc1 }}"
    state: present
    dn: "CN={{ sambafs_share_mountpoint }},CN=auto.direct,{{ ldap_autofsou }},{{ ldap_basedn }}"
    objectClass: 
      - nisObject
    attributes:
      nisMapName: "{{ sambafs_share_mountpoint }}"
      nisMapEntry: "{{ sambafs_share_mountopts }}{{ sambafs_share_mountsrc }}"
