- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true

- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(certreq_default_owner) }}"
    group: "{{ item.group | default(certreq_default_group) }}"
    mode: "{{ item.mode | default(certreq_default_dir_mode) }}"
  loop: "{{ certreq_dirs }}"

- name: Create key
  community.crypto.openssl_privatekey:
    force: "{{ certreq_key_force | default(false) }}"
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: '0600'
    path: "{{ certreq_key_path }}"
    size: "{{ certreq_key_size }}"
    type: "{{ certreq_key_type }}"
    return_content: true
  register: certreq_key_result

- name: Create csr
  community.crypto.openssl_csr_pipe:
    privatekey_path: "{{ certreq_key_path }}"
    common_name: "{{ certreq_csr_cn | default(certreq_csr_cn) }}"
    subject_alt_name: "{{ certreq_csr_san | default(certreq_csr_san) }}"
    organizational_unit_name: "{{ certreq_csr_organizational_unit_name | default(certreq_csr_organizational_unit_name) }}"
    organization_name: "{{ certreq_csr_organization_name | default(certreq_csr_organization_name) }}"
    locality_name: "{{ certreq_csr_locality_name | default(certreq_csr_locality_name) }}"
    country_name: "{{ certreq_csr_country_name | default(certreq_csr_country_name) }}"
    email_address: "{{ certreq_csr_email_address | default(certreq_csr_email_address) }}"
    key_usage: "{{ certreq_csr_key_usage | default(certreq_csr_key_usage) }}"
    extended_key_usage: "{{ certreq_csr_extended_key_usage | default(certreq_csr_extended_key_usage) }}"
  register: certreq_csr_result
  changed_when: false

- name: Create certificate
  ansible.builtin.include_tasks:
    file: "provider_{{ certreq_provider }}.yml"
  ignore_errors: true

- name: Fetch crt
  ansible.builtin.fetch:
    src: "{{ certreq_crt_path }}"
    flat: true
    dest: "{{ certreq_fetch_dir }}/crt/"
  when: certreq_fetch_crt

- name: Fetch csr
  delegate_to: localhost
  ansible.builtin.copy:
    mode: '0755'
    content: "{{ certreq_csr_result.csr }}"
    dest: "{{ certreq_fetch_dir }}/csr/{{ ansible_nodename }}.csr"
  when: certreq_fetch_csr

- name: Fetch key
  delegate_to: localhost
  ansible.builtin.copy:
    mode: '0755'
    content: "{{ certreq_csr_result.csr }}"
    dest: "{{ certreq_fetch_dir }}/key/{{ ansible_nodename }}.key"
  when: certreq_fetch_key
