- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ certreq_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false
  loop_control:
    loop_var: certreq_item

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ certreq_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  loop_control:
    loop_var: certreq_item

- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ certreq_item.path }}"
    owner: "{{ certreq_item.owner | default(certreq_default_owner) }}"
    group: "{{ certreq_item.group | default(certreq_default_group) }}"
    mode: "{{ certreq_item.mode | default(certreq_default_dir_mode) }}"
  loop: "{{ certreq_dirs }}"
  loop_control:
    loop_var: certreq_item

- name: Create key
  community.crypto.openssl_privatekey:
    force: "{{ certreq_key_force | default(false) }}"
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: '0600'
    path: "{{ certreq_key_file }}"
    size: "{{ certreq_key_size }}"
    type: "{{ certreq_key_type }}"
    return_content: true
    backup: true
  register: certreq_key_result
  when: certreq_csr_cn != ""

- name: Create csr
  community.crypto.openssl_csr:
    privatekey_path: "{{ certreq_key_file }}"
    common_name: "{{ certreq_csr_cn | default(certreq_csr_cn) }}"
    subject_alt_name: "{{ certreq_csr_san | default(certreq_csr_san) }}"
    organizational_unit_name: "{{ certreq_csr_organizational_unit_name | default(certreq_csr_organizational_unit_name) }}"
    organization_name: "{{ certreq_csr_organization_name | default(certreq_csr_organization_name) }}"
    locality_name: "{{ certreq_csr_locality_name | default(certreq_csr_locality_name) }}"
    country_name: "{{ certreq_csr_country_name | default(certreq_csr_country_name) }}"
    email_address: "{{ certreq_csr_email_address | default(certreq_csr_email_address) }}"
    key_usage: "{{ certreq_csr_key_usage | default(certreq_csr_key_usage) }}"
    extended_key_usage: "{{ certreq_csr_extended_key_usage | default(certreq_csr_extended_key_usage) }}"
    path: "{{ certreq_csr_file }}"
    return_content: true
  register: certreq_csr_result
  changed_when: false
  when: certreq_csr_cn != ""

- name: Stat crt
  ansible.builtin.stat:
    path: "{{ certreq_crt_file }}"
  register: certreq_crt_stat

- name: Get crt info
  community.crypto.x509_certificate_info:
    path: "{{ certreq_crt_file }}"
    valid_at:
      tendays: "+10d"
  register: certreq_crt_info
  when: certreq_crt_stat.stat.exists

# - debug:
#     msg:
#     - "{{ certreq_csr_cn != '' }} or"
#     - "{{ certreq_force }} or"
#     - "{{ 
#         (
#           not certreq_crt_stat.stat.exists and
#           not certreq_crt_info.valid_at.tendays | default(true) and
#           certreq_csr_san | sort | lower != certreq_crt_info.subject_alt_name | default([]) | sort | lower
#         ) 
#       }}"

- name: Create certificate
  ansible.builtin.include_tasks:
    file: "provider_{{ certreq_provider }}.yml"
  ignore_errors: true
  when: 
    certreq_csr_cn != '' or
    certreq_force or 
    (
      not certreq_crt_stat.stat.exists and
      not certreq_crt_info.valid_at.tendays | default(true) and
      certreq_csr_san | sort | lower != certreq_crt_info.subject_alt_name | default([]) | sort | lower
    )

- name: Fetch crt
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_crt_result.certificate }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.crt"
    backup: true
  when: certreq_fetch_crt

- name: Fetch csr
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_csr_result.csr }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.csr"
    backup: true
  when: certreq_fetch_csr

- name: Fetch key
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_key_result.privatekey }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.key"
    backup: true
  when: certreq_fetch_key
