- name: create csr
  ansible.builtin.include_tasks:
    file: "provider_csronly.yml"

- name: Create self signed crt
  community.crypto.x509_certificate:
    path: "{{ certreq_crt_path }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    privatekey_path: "{{ certreq_key_path }}"
    provider: selfsigned
