- name: Create key
  community.crypto.openssl_privatekey:
    force: false
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: '0600'
    path: "{{ certreq_default_key_path }}"
    size: "{{ certreq_default_key_size }}"
    type: "{{ certreq_default_key_type }}"
    return_content: true
  register: certreq_key_result

- name: Create csr
  community.crypto.openssl_csr_pipe:
    privatekey_path: "{{ certreq_csr_key | default(certreq_default_key_path) }}"
    common_name: "{{ certreq_csr_cn | default(certreq_default_cn) }}"
    subject_alt_name: "{{ certreq_csr_san | default(certreq_default_san) }}"
    organizational_unit_name: "{{ certreq_csr_organizational_unit_name | default(certreq_default_organizational_unit_name) }}"
    organization_name: "{{ certreq_csr_organization_name | default(certreq_default_organization_name) }}"
    locality_name: "{{ certreq_csr_locality_name | default(certreq_default_locality_name) }}"
    country_name: "{{ certreq_csr_country_name | default(certreq_default_country_name) }}"
    email_address: "{{ certreq_csr_email_address | default(certreq_default_email_address) }}"
    key_usage: "{{ certreq_csr_key_usage | default(certreq_default_key_usage) }}"
    extended_key_usage: "{{ certreq_csr_extended_key_usage | default(certreq_default_extended_key_usage) }}"
  register: certreq_csr_result
  changed_when: false

# - debug: "var=certreq_csr_result"
