- name: Create self signed crt {{ certreq_csr_cn }}
  community.crypto.x509_certificate:
    path: "{{ certreq_crt_file }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    privatekey_path: "{{ certreq_key_file }}"
    provider: selfsigned
    return_content: true
    backup: true
  register: certreq_crt_result
  notify: "{{ certreq_notify }}"
