- name: create csr
  ansible.builtin.include_tasks:
    file: "provider_csronly.yml"

- name: Create self signed crt
  community.crypto.x509_certificate:
    path: "{{ certreq_default_crt_path }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    privatekey_path: "{{ certreq_default_key_path }}"
    provider: acme
  when: certreq_create_selfsigned
