- name: Create self signed crt
  community.crypto.x509_certificate:
    path: "{{ certreq_crt_path }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    privatekey_path: "{{ certreq_key_path }}"
    provider: acme
    backup: true
  when: certreq_create_selfsigned

- name: Create crt
  delegate_to: "{{ certreq_letsencryp_host }}"
  community.crypto.x509_certificate:
    path: "{{ certreq_ownca_root_dir }}/pki/crt/{{ certreq_ownca_cn | default(certreq_csr_cn) }}.crt"
    csr_content: "{{ certreq_csr_result.csr }}"
    ownca_path: "{{ certreq_ownca_cacert }}"
    ownca_privatekey_path: "{{ certreq_ownca_cakey }}"
    provider: ownca
    return_content: true
    backup: true
  register: certreq_ownca_result
