- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ certreq_item.path }}"
    owner: "{{ certreq_item.owner | default(certreq_default_owner) }}"
    group: "{{ certreq_item.group | default(certreq_default_group) }}"
    mode: "{{ certreq_item.mode | default(certreq_default_dir_mode) }}"
  loop: "{{ certreq_dirs }}"
  loop_control:
    loop_var: certreq_item

- name: Create key {{ certreq_csr_cn }}
  community.crypto.openssl_privatekey:
    force: "{{ certreq_key_force | default(false) }}"
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: '0600'
    path: "{{ certreq_key_file }}"
    size: "{{ certreq_key_size }}"
    type: "{{ certreq_key_type }}"
    return_content: true
    backup: true
  register: certreq_key_result
  when: certreq_key_file != ""

- name: Create csr {{ certreq_csr_cn }}
  community.crypto.openssl_csr:
    privatekey_path: "{{ certreq_key_file }}"
    common_name: "{{ certreq_csr_cn | default(certreq_csr_cn) }}"
    subject_alt_name: "{{ certreq_csr_san | default(certreq_csr_san) }}"
    organizational_unit_name: "{{ certreq_csr_organizational_unit_name | default(certreq_csr_organizational_unit_name) }}"
    organization_name: "{{ certreq_csr_organization_name | default(certreq_csr_organization_name) }}"
    locality_name: "{{ certreq_csr_locality_name | default(certreq_csr_locality_name) }}"
    country_name: "{{ certreq_csr_country_name | default(certreq_csr_country_name) }}"
    email_address: "{{ certreq_csr_email_address | default(certreq_csr_email_address) }}"
    key_usage: "{{ certreq_csr_key_usage | default(certreq_csr_key_usage) }}"
    extended_key_usage: "{{ certreq_csr_extended_key_usage | default(certreq_csr_extended_key_usage) }}"
    path: "{{ certreq_csr_file }}"
    return_content: true
  register: certreq_csr_result
  changed_when: false
  when: certreq_csr_file != ""
