- name: Create crt
  delegate_to: "{{ certreq_ownca_host }}"
  community.crypto.x509_certificate:
    path: "{{ certreq_ownca_root_dir }}/pki/crt/{{ certreq_csr_cn }}.crt"
    csr_content: "{{ certreq_csr_result.csr }}"
    ownca_path: "{{ certreq_ownca_cacert }}"
    ownca_privatekey_path: "{{ certreq_ownca_cakey }}"
    provider: ownca
    return_content: true
    backup: true
  register: certreq_ownca_result

- name: save crt
  ansible.builtin.copy:
    dest: "{{ certreq_crt_path }}"
    content: "{{ certreq_ownca_result.certificate }}"
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: "{{ certreq_default_file_mode }}"
    backup: true
