- name: Generate a Let's Encrypt Certificate
  delegate_to: "{{ certreq_letsencryp_host }}"
  community.crypto.x509_certificate:
    path: "{{ certreq_crt_path }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    acme_challenge_path: "{{ certreq_letsencrypt_webroot }}/.well-known/acme-challenge/"
    # acme_accountkey_path: /etc/ssl/private/ansible.com.pem
    provider: acme
    backup: true
    return_content: true
  register: certreq_crt_result
