- name: Create directory for ansible custom facts
  ansible.builtin.file:
    state: directory
    recurse: true
    path: /etc/ansible/facts.d

- name: Step 0. Create Account. Agree TOS
  community.crypto.acme_account:
    acme_directory: "{{ certreq_acme_directory }}"
    acme_version: "{{ certreq_acme_version }}"
    account_key_content: "{{ certreq_acme_account_key }}"
    state: present
    terms_agreed: true
    contact:
      - mailto:{{ certreq_csr_email_address }}
  register: certreq_acme_step0_result
  changed_when: certreq_acme_step0_result.account_uri != ansible_local.certreq_acme_account_uri | default('')

- name: Save account_uri result to fact
  ansible.builtin.copy:
    dest: /etc/ansible/facts.d/certreq_acme_account_uri.fact
    content: "{{ certreq_acme_step0_result.account_uri | to_nice_json }}"
  when: certreq_acme_step0_result.changed

- name: Re-read facts certreq_acme_account_uri
  ansible.builtin.setup:
    filter: ansible_local

- name: Step 1. Create chalanges
  community.crypto.acme_certificate_order_create:
    acme_directory: "{{ certreq_acme_directory }}"
    acme_version: "{{ certreq_acme_version }}"
    account_key_content: "{{ certreq_acme_account_key }}"
    csr_content: "{{ certreq_csr_result.csr }}"
  register: certreq_acme_step1_result
  when: not ansible_local.certreq_acme_step1 is defined

- name: Save step1 result to fact
  ansible.builtin.copy:
    dest: /etc/ansible/facts.d/certreq_acme_step1.fact
    content: "{{ certreq_acme_step1_result | to_nice_json }}"
  when: certreq_acme_step1_result.changed

- name: Re-read facts certreq_acme_step1
  ansible.builtin.setup:
    filter: ansible_local
  when: certreq_acme_step1_result.changed

- name: create webroot dir
  ansible.builtin.file:
    state: directory
    path: "{{ certreq_acme_webroot }}/.well-known/acme-challenge"
    owner: "{{ certreq_default_owner }}"
    group: "{{ certreq_default_group }}"
    mode: "{{ certreq_default_dir_mode }}"

- name: Save http-01 challenges
  delegate_to: "{{ certreq_acme_step2_host if certreq_acme_step2_host != '' else omit }}"
  ansible.builtin.copy:
    dest: "{{ certreq_acme_webroot }}/{{ certreq_item.challenges['http-01']['resource'] }}"
    content: "{{ certreq_item.challenges['http-01']['resource_value'] }}"
  loop_control:
    loop_var: certreq_item
    label: '{{ certreq_item.identifier }}'
  loop: "{{ ansible_local.certreq_acme_step1.challenge_data }}"
  when: "'http-01' in certreq_item.challenges"

- name: Step 2. Validate chalenges
  delegate_to: "{{ certreq_acme_step2_host if certreq_acme_step2_host != '' else omit }}"
  community.crypto.acme_certificate_order_validate:
    acme_directory: "{{ certreq_acme_directory }}"
    acme_version: "{{ certreq_acme_version }}"
    account_key_content: "{{ certreq_acme_account_key }}"
    challenge: "{{ certreq_acme_challenge }}"
    order_uri: "{{ ansible_local.certreq_acme_step1.order_uri }}"
  register: certreq_acme_step2_result
  when: not ansible_local.certreq_acme_step2 is defined

- name: Save step2 result to fact
  ansible.builtin.copy:
    dest: /etc/ansible/facts.d/certreq_acme_step2.fact
    content: "{{ certreq_acme_step2_result | to_nice_json }}"
  when: certreq_acme_step2_result.changed

- name: Re-read facts certreq_acme_step2
  ansible.builtin.setup:
    filter: ansible_local
  when: certreq_acme_step2_result.changed

- name: Step 3. Get certificates 
  community.crypto.acme_certificate_order_finalize:
    acme_directory: "{{ certreq_acme_directory }}"
    acme_version: "{{ certreq_acme_version }}"
    account_key_content: "{{ certreq_acme_account_key }}"
    csr_content: "{{ certreq_csr_result.csr }}"
    order_uri: "{{ ansible_local.certreq_acme_step1.order_uri }}"
    cert_dest: "{{ certreq_crt_dir }}/{{ certreq_csr_cn }}.pem"
    fullchain_dest: "{{ certreq_fullchain_file }}"
    chain_dest: "{{ certreq_chain_file }}"
  register: certreq_acme_step3_result

- name: Copy pem to crt {{ certreq_csr_cn }}
  ansible.builtin.copy:
    backup: true
    remote_src: true
    src: "{{ certreq_crt_dir }}/{{ certreq_csr_cn }}.pem"
    dest: "{{ certreq_crt_file }}"
  notify: "{{ certreq_notify }}"

- name: clear tmp files
  when: 
    - certreq_acme_step3_result.changed
    - not certreq_acme_step3_result.failed
  ### block start
  block:
    - name: clear chalanges
      ansible.builtin.file:
        state: absent
        path: "{{ certreq_acme_webroot }}/{{ certreq_item.challenges['http-01']['resource'] }}"
      loop_control:
        loop_var: certreq_item
        label: '{{ certreq_item.identifier }}'
      loop: "{{ ansible_local.certreq_acme_step1.challenge_data }}"

    - name: clear local facts
      ansible.builtin.file:
        state: absent
        path: "/etc/ansible/facts.d/{{ certreq_item }}.fact"
      loop_control:
        loop_var: certreq_item
      loop:
        - certreq_acme_step1
        - certreq_acme_step2
  ### block end
