- name: Install packages
  ansible.builtin.package:
    state: present
    name: "{{ poudriere_packages }}"

- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(poudriere_owner) }}"
    group: "{{ item.group | default(poudriere_group) }}"
    mode: "{{ item.mode | default(poudriere_mode_dir) }}"
  loop: "{{ poudriere_dirs }}"
  loop_control:
    label: "{{ item.path }}"
  when: poudriere_dirs != []

- name: create {{ poudriere_conf }}
  ansible.builtin.copy:
    mode: '0644'
    owner: root
    group: wheel
    backup: true
    dest: "{{ poudriere_conf }}"
    content: |
      RESOLV_CONF={{ poudriere_resolv_conf }}
      FREEBSD_HOST={{ poudriere_freebsd_host }}
      DISTFILES_CACHE={{ poudriere_distfiles_cache }}
      BASEFS={{ poudriere_basefs }}
      USE_PORTLINT=no
      USE_TMPFS=yes
      ZPOOL=zroot
      CHECK_CHANGED_OPTIONS=verbose
      CHECK_CHANGED_DEPS=yes
      NOLINUX=yes

- name: Create jails
  ansible.builtin.command: 
    cmd: poudriere jail -c -j {{ item.jailname }} -v {{ item.jailrelease }}
    creates: "{{ poudriere_basefs }}/jails/{{ item.jailname }}"
  loop: "{{ poudrier_jails }}"
  loop_control:
    label: "{{ item.jailrelease }}:{{ poudriere_basefs }}/jails/{{ item.jailname }}"
  when: poudrier_jails != []

- name: Create ports tree
  ansible.builtin.command:
    cmd: poudriere ports -c -p {{ item.treename }} 
    creates: "{{ poudriere_basefs }}/ports/{{ item.treename }}"
  loop: "{{ poudrier_portstrees }}"
  loop_control:
    label: "{{ item.treename }}:{{ poudriere_basefs }}/ports/{{ item.treename }}"
  when: poudrier_portstrees != []

- name: Create ports packagelist
  ansible.builtin.copy:
    dest: "{{ poudriere_confd_dir }}/packages-{{ item.treename }}"
    content: "{{ item.packagelist }}"
    owner: "{{ item.owner | default(poudriere_owner) }}"
    group: "{{ item.group | default(poudriere_group) }}"
    mode: "{{ item.mode | default(poudriere_mode) }}"
  loop: "{{ poudrier_portstrees }}"
  loop_control:
    label: "{{ item.treename }}:{{ poudriere_confd_dir }}/packages-{{ item.treename }}"
  when: poudrier_portstrees != []
