- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  ignore_errors: true
  failed_when: false

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  ignore_errors: true

- name: create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
  loop: "{{ nginx_dirs }}"

- name: "{{ nginx_conf_file }}"
  ansible.builtin.template:
    backup: true
    src: nginx.conf
    dest: "{{ nginx_conf_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: Nginx restart

- name: "{{ nginx_default_root }}/index.html"
  ansible.builtin.copy:
    dest: "{{ nginx_default_root }}/index.html"
    content: |
      <h1>{{ ansible_default_ipv4.address }}</h1>
  changed_when: false

- name: "{{ nginx_conf_dir }}/well-known.conf"
  ansible.builtin.copy:
    dest: "{{ nginx_conf_dir }}/well-known.conf"
    content: |
      location /.well-known {
        alias {{ nginx_wellknown_dir }};
        allow all;
      }

- name: remove unmanaged files
  ansible.builtin.include_tasks:
    file: remove_unmanaged.yml

- name: add nginx servers
  ansible.builtin.include_tasks:
    file: server.yml
  loop: "{{ nginx_default_server + nginx_servers }}"
  loop_control:
    loop_var: server
    label: "{{ server.filename | default(server.server_name) }}"
  when: (nginx_default_server + nginx_servers) != []

- name: add nginx snippets
  ansible.builtin.copy:
    backup: true
    owner: root
    group: root
    mode: '0644'
    dest: "{{ nginx_snippet_dir }}/{{ snippet.filename }}"
    content: "{{ snippet.content }}"
  loop: "{{ nginx_snippets }}"
  loop_control:
    loop_var: snippet
    label: "{{ snippet.filename }}"
  when: nginx_snippets != []
  notify: Nginx restart

- name: systemctl enable nginx
  ansible.builtin.systemd_service:
    name: nginx
    enabled: "{{ nginx_service_enabled }}"
  notify: Nginx restart
