# - debug: "var=server.server_name"
# - debug: "var=server.redirect_to_https"

- name: create server root {{ server.server_name }}
  ### block start
  when: server.root is defined
  block:
    - name: create server root
      ansible.builtin.file:
        owner: root
        group: root
        mode: '0755'
        state: directory
        path: "{{ server.root }}"

    - name: "index.html"
      ansible.builtin.copy:
        owner: root
        group: root
        mode: '0755'
        dest: "{{ server.root }}/index.html"
        content: |
          <h1>{{ server.server_name }}</h1>
          <h1>{{ ansible_default_ipv4.address }}</h1>
          <h1>{{ ansible_nodename }}</h1>
      changed_when: false
  ### block end

- name: set default values {{ server.server_name }}
  ansible.builtin.set_fact:
    nginx_server_disabled: false
    nginx_server_cert_file: ""
    nginx_server_key_file: ""
    nginx_server_accesslog_file: "{{ server.access_log | default(nginx_log_dir + '/' + server.server_name + '_access.log') }}"
    nginx_server_errorlog_file: "{{ server.error_log | default(nginx_log_dir + '/' + server.server_name + '_error.log') }}"

- name: Set specified cert and key path
  when:
    - not server.ssl.certbot | default(false)
    - server.ssl.certificate is defined
    - server.ssl.key is defined
  ansible.builtin.set_fact:
    nginx_server_cert_file: "{{ server.ssl.certificate }}"
    nginx_server_key_file: "{{ server.ssl.key }}"

- name: Set certbot cert and key path
  when:
    - server.ssl.certbot | default(false)
  ansible.builtin.set_fact:
    nginx_server_cert_file: "/etc/letsencrypt/live/{{ server.server_name }}/fullchain.pem"
    nginx_server_key_file: "/etc/letsencrypt/live/{{ server.server_name }}/privkey.pem"

- name: check cert files
  when: 
    - nginx_server_cert_file != ""
    - nginx_server_key_file != ""
  ### block start
  block:
    - name: stat certificate {{ server.server_name }}
      ansible.builtin.stat:
        path: "{{ nginx_server_cert_file }}"
      register: nginx_server_cert_stat
    - name: stat key {{ server.server_name }}
      ansible.builtin.stat:
        path: "{{ nginx_server_key_file }}"
      register: nginx_server_key_stat
    - name: set server enabled flag {{ server.server_name }}
      ansible.builtin.set_fact:
        nginx_server_disabled: true
      when:
        - not nginx_server_cert_stat.stat.exists
        - not nginx_server_key_stat.stat.exists
  ### block end

- name: "site avalable {{ server.server_name }}" 
  ansible.builtin.template:
    backup: true
    src: nginx-server.conf
    dest: "{{ nginx_sites_available_dir }}/{{ server.filename | default(server.server_name) }}"
    owner: root
    group: root
    mode: '0644'
  notify: Nginx restart

- name: "enable site {{ server.server_name }}"
  ansible.builtin.file:
    state: link
    src: "{{ nginx_sites_available_dir }}/{{ server.filename | default(server.server_name) }}"
    dest: "{{ nginx_sites_enabled_dir }}/{{ server.linkname | default(server.server_name) }}"
  when:
    - server.enabled | default(false)
    - not nginx_server_disabled
  notify: Nginx restart

- name: "disable site {{ server.server_name }}"
  ansible.builtin.file:
    state: absent
    path: "{{ nginx_sites_enabled_dir }}/{{ server.linkname | default(server.server_name) }}"
  when:
    - nginx_server_disabled or
      server.enabled | default(false) is false
  notify: Nginx restart
