---
- name: owncloud
  hosts: r-pve1.r.ratners.ru
  roles: 
    - r.podman.common
  vars:
    # pdmn_owncloud_
    pdmn_owncloud_default_owner: root
    pdmn_owncloud_default_group: root
    pdmn_owncloud_default_dir_mode: '0750'
    pdmn_owncloud_default_file_mode: '0640'

    # pdmn_owncloud_forwarded_for_headers: ['HTTP_X_FORWARDED_FOR']
    pdmn_owncloud_trusted_proxies: 
      - 10.88.0.1
    pdmn_owncloud_overwriteprotocol: https
    pdmn_owncloud_overwritehost: owncloud.r.ratners.ru
    pdmn_owncloud_overwritewebroot: "/" #/owncloud
    pdmn_owncloud_domain: owncloud.r.ratners.ru
    pdmn_owncloud_trusted_domains:
      - localhost
      - "{{ pdmn_owncloud_domain }}"
    pdmn_owncloud_db_type: mysql
    pdmn_owncloud_db_name: owncloud_db
    pdmn_owncloud_db_user: owncloud_user
    pdmn_owncloud_db_pass: yijCatOmmUdOkif4
    pdmn_owncloud_db_host: 127.0.0.1
    pdmn_owncloud_redis_host: 127.0.0.1
    pdmn_owncloud_admin_user: admin
    pdmn_owncloud_admin_pass: ficewCevDoocoss?

    pdmn_owncloud_pods: 
      - name: owncloud
        publish: 
          - 127.0.0.2:8080:8080
        rootdir: /containers/owncloud

    pdmn_owncloud_containers:
      - name: owncloud-db
        pod: owncloud
        image: docker.io/webhippie/mariadb
        release: latest
        restart: always
        env:
          MARIADB_ROOT_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
          MARIADB_USERNAME: "{{ pdmn_owncloud_db_user }}"
          MARIADB_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
          MARIADB_DATABASE: "{{ pdmn_owncloud_db_name }}"
          MARIADB_MAX_ALLOWED_PACKET: 128M
          MARIADB_INNODB_LOG_FILE_SIZE: 64M
        volumes:
          - /containers/owncloud/mysql:/var/lib/mysql:Z
          - /containers/owncloud/backup:/var/lib/backup:Z
        healthcheck:
          test: ["CMD", "/usr/bin/healthcheck"]
          interval: 30s
          timeout: 10s
          retries: 5
      - name: owncloud-redis
        pod: owncloud
        image: docker.io/webhippie/redis
        release: latest
        restart: always
        env:
          REDIS_DATABASES: 1
        volumes:
          - /containers/owncloud/redis:/var/lib/redis:Z
        healthcheck:
          test: ["CMD", "/usr/bin/healthcheck"]
          interval: 30s
          timeout: 10s
          retries: 5
      - name: owncloud-server
        pod: owncloud
        image: "docker.io/owncloud/server"
        release: "latest"
        restart: always
        requires:
          - owncloud-db
          - owncloud-redis
        env:
          OWNCLOUD_DOMAIN: "{{ pdmn_owncloud_domain }}"
          OWNCLOUD_DB_TYPE: "{{ pdmn_owncloud_db_type }}"
          OWNCLOUD_DB_NAME: "{{ pdmn_owncloud_db_name }}"
          OWNCLOUD_DB_USERNAME: "{{ pdmn_owncloud_db_user }}"
          OWNCLOUD_DB_PASSWORD: "{{ pdmn_owncloud_db_pass }}"
          OWNCLOUD_DB_HOST: "{{ pdmn_owncloud_db_host }}"
          OWNCLOUD_ADMIN_USERNAME: "{{ pdmn_owncloud_admin_user }}"
          OWNCLOUD_ADMIN_PASSWORD: "{{ pdmn_owncloud_admin_pass }}"
          OWNCLOUD_REDIS_HOST: "{{ pdmn_owncloud_redis_host }}"
          OWNCLOUD_REDIS_ENABLED: true
          OWNCLOUD_MYSQL_UTF8MB4: true
          OWNCLOUD_TRUSTED_DOMAINS: "{{ pdmn_owncloud_trusted_domains | join(',') }}"
          OWNCLOUD_TRUSTED_PROXIES: "{{ pdmn_owncloud_trusted_proxies }}"
          OWNCLOUD_OVERWRITEPROTOCOL: "{{ pdmn_owncloud_overwriteprotocol }}"
          OWNCLOUD_OVERWRITEHOST: "{{ pdmn_owncloud_overwritehost }}"
          OWNCLOUD_OVERWRITEWEBROOT: "{{ pdmn_owncloud_overwritewebroot }}"
        volumes:
          - /containers/owncloud/data:/mnt/data:Z
        healthcheck:
          test: ["CMD", "/usr/bin/healthcheck"]
          interval: 30s
          timeout: 10s
          retries: 5
  tasks:
    - name: pod dirs
      ansible.builtin.set_fact:
        pdmn_owncloud_dirs: "{{
            pdmn_owncloud_dirs | default([]) +
            [
              {
                'path': pdmn_owncloud_item.rootdir
              }
            ]
          }}"
      loop: "{{ pdmn_owncloud_pods }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.rootdir }}"

    - name: create dirs list
      ansible.builtin.set_fact:
        pdmn_owncloud_dirs: "{{
            pdmn_owncloud_dirs | default([]) +
            pdmn_owncloud_item.volumes | map('split', ':') | map('first') | map('community.general.dict_kv', 'path')
          }}"
      loop: "{{ pdmn_owncloud_containers }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.name }}"

    - name: Create dirs
      ansible.builtin.file:
        state: directory
        # owner: "{{ pdmn_owncloud_item.owner | default(pdmn_owncloud_default_owner) }}"
        # group: "{{ pdmn_owncloud_item.group | default(pdmn_owncloud_default_group) }}"
        # mode: "{{ pdmn_owncloud_item.mode | default(pdmn_owncloud_default_dir_mode) }}"
        path: "{{ pdmn_owncloud_item.path }}"
      loop: "{{ pdmn_owncloud_dirs }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.path }}"

    - name: Pull images
      containers.podman.podman_image:
        name: "{{ pdmn_owncloud_item.image }}:{{ pdmn_owncloud_item.release }}"
        state: present
      loop: "{{ pdmn_owncloud_containers }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.name }}"
      ignore_errors: true

    - name: Create pod
      containers.podman.podman_pod:
        state: created
        name: "{{ pdmn_owncloud_item.name }}"
        publish: "{{ pdmn_owncloud_item.publish }}"
      loop: "{{ pdmn_owncloud_pods }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.name }}"
    #   notify: restart owncloud

    - name: Run containers
      containers.podman.podman_container:
        state: started
        privileged: true
        pod: "{{ pdmn_owncloud_item.pod }}"
        name: "{{ pdmn_owncloud_item.name }}"
        image: "{{ pdmn_owncloud_item.image }}"
        env: "{{ pdmn_owncloud_item.env | default({}) }}"
        restart_policy: "{{ pdmn_owncloud_item.restart | default('always') }}"
        requires: "{{ pdmn_owncloud_item.requires | default([]) }}"
        volume: "{{ pdmn_owncloud_item.volumes }}"
        healthcheck: "{{ pdmn_owncloud_item.healthcheck.test[1] }}"
        healthcheck_interval: "{{ pdmn_owncloud_item.healthcheck.interval }}"
        healthcheck_timeout: "{{ pdmn_owncloud_item.healthcheck.timeout }}"
        healthcheck_retries: "{{ pdmn_owncloud_item.healthcheck.retries }}"
      loop: "{{ pdmn_owncloud_containers }}"
      loop_control:
        loop_var: pdmn_owncloud_item
        label: "{{ pdmn_owncloud_item.name }}"
      ignore_errors: true
