- name: Common before tasks
  ansible.builtin.include_tasks:
    file: "provider_common_before.yml"
  ignore_errors: true

- name: Create certificate {{ certreq_csr_cn }}
  ansible.builtin.include_tasks:
    file: "provider_{{ certreq_provider }}.yml"
  ignore_errors: true
  when: certreq_issue

- name: Common after tasks
  ansible.builtin.include_tasks:
    file: "provider_common_after.yml"
  ignore_errors: true
