- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ certreq_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false
  loop_control:
    loop_var: certreq_item

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ certreq_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  loop_control:
    loop_var: certreq_item

- name: Create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ certreq_item.path }}"
    owner: "{{ certreq_item.owner | default(certreq_default_owner) }}"
    group: "{{ certreq_item.group | default(certreq_default_group) }}"
    mode: "{{ certreq_item.mode | default(certreq_default_dir_mode) }}"
  loop: "{{ certreq_dirs }}"
  loop_control:
    loop_var: certreq_item

- name: Cert list
  ansible.builtin.include_tasks:
    file: "cert_list.yml"
  loop: "{{ certreq_cert_list }}"
  loop_control:
    loop_var: certreq_item
  when: certreq_cert_list != []
  vars:
    certreq_csr_cn: "{{ certreq_item.csr_cn }}"
    certreq_csr_file: "{{ certreq_item.csr_file }}"
    certreq_csr_organizational_unit_name: "{{ certreq_item.csr_organizational_unit_name }}"
    certreq_csr_organization_name: "{{ certreq_item.csr_organization_name }}"
    certreq_csr_locality_name: "{{ certreq_item.csr_locality_name }}"
    certreq_csr_country_name: "{{ certreq_item.csr_country_name }}"
    certreq_csr_email_address: "{{ certreq_item.csr_email_address }}"
    certreq_csr_san: "{{ certreq_item.csr_san }}"
    certreq_csr_key_usage: "{{ certreq_item.csr_key_usage }}"
    certreq_csr_extended_key_usage: "{{ certreq_item.csr_extended_key_usage }}"
    certreq_fetch_dir: "{{ certreq_item.fetch_dir }}"
    certreq_fetch_crt: "{{ certreq_item.fetch_crt }}"
    certreq_fetch_csr: "{{ certreq_item.fetch_csr }}"
    certreq_fetch_key: "{{ certreq_item.fetch_key }}"
    certreq_key_size: "{{ certreq_item.key_size }}"
    certreq_key_type: "{{ certreq_item.key_type }}"
    certreq_key_file: "{{ certreq_item.key_file }}"
    certreq_crt_file: "{{ certreq_item.crt_file }}"
    certreq_fullchain_file: "{{ certreq_item.fullchain_file }}"
    certreq_chain_file: "{{ certreq_item.chain_file }}"

- name: Common before tasks
  ansible.builtin.include_tasks:
    file: "provider_common_before.yml"
  ignore_errors: true

- name: Create certificate {{ certreq_csr_cn }}
  ansible.builtin.include_tasks:
    file: "provider_{{ certreq_provider }}.yml"
  ignore_errors: true
  when: certreq_issue

- name: Common after tasks
  ansible.builtin.include_tasks:
    file: "provider_common_after.yml"
  ignore_errors: true
