- name: Fetch crt {{ certreq_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_crt_result.certificate }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.crt"
    backup: true
  when: certreq_fetch_crt

- name: Fetch csr {{ certreq_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_csr_result.csr }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.csr"
    backup: true
  when: certreq_fetch_csr

- name: Fetch key {{ certreq_csr_cn }}
  delegate_to: localhost
  ansible.builtin.copy:
    mode: "{{ certreq_default_file_mode }}"
    content: "{{ certreq_key_result.privatekey }}"
    dest: "{{ certreq_fetch_dir }}/{{ certreq_csr_cn }}.key"
    backup: true
  when: certreq_fetch_key
