- name: reset vars
  ansible.builtin.set_fact:
    cert_certbot_key_result: {}
    cert_certbot_csr_result: {}
    cert_certbot_crt_result: {}
    cert_certbot_crt_info: {}
    cert_certbot_result: {}
    cert_certbot_issue: false

- name: Stat crt {{ cert_certbot_cn }}
  ansible.builtin.stat:
    path: "{{ cert_certbot_crt_file }}"
  register: cert_certbot_crt_stat

- name: Get crt info {{ cert_certbot_cn }}
  community.crypto.x509_certificate_info:
    path: "{{ cert_certbot_crt_file }}"
    valid_at:
      tendays: "+10d"
  register: cert_certbot_crt_info
  when: cert_certbot_crt_stat.stat.exists

- name: Set cert_certbot_issue to true if
  when: cert_certbot_cn != ''
  ### block start
  block:
    - name: if forced {{ cert_certbot_cn }}
      ansible.builtin.set_fact:
        cert_certbot_issue: true
        cert_certbot_issue_msg: "issue certificate forced"
      when:
        - cert_certbot_force
        - cert_certbot_issue is false

    - name: if crt file does not exists {{ cert_certbot_cn }}
      ansible.builtin.set_fact:
        cert_certbot_issue: true
        cert_certbot_issue_msg: "issue certificate, crt file does not exists"
      when:
        - not cert_certbot_crt_stat.stat.exists
        - cert_certbot_issue is false

    - name: if not valid in 10 days {{ cert_certbot_cn }}
      ansible.builtin.set_fact:
        cert_certbot_issue: true
        cert_certbot_issue_msg: "issue certificate, expire in 10 days"
      when:
        - not cert_certbot_crt_info.valid_at.tendays | default(false)
        - cert_certbot_issue is false

    - name: if SAN differs {{ cert_certbot_cn }}
      ansible.builtin.set_fact:
        cert_certbot_issue: true
        cert_certbot_issue_msg: "issue certificate, SAN are differ"
      when:
        - cert_certbot_san | default(cert_certbot_default_san) != []
        - (['DNS:' + cert_certbot_cn] + cert_certbot_san | default(cert_certbot_default_san)) | sort | lower != cert_certbot_crt_info.subject_alt_name | default([]) | sort | lower
        - cert_certbot_issue is false
  ### block end

- name: Check 80/tcp
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}" # Or specify a different host if checking from another machine
    port: 80
    state: started # Ensures the port is listening
    delay: 1 # start check after delay
    timeout: 5 # Maximum time to wait in seconds
  register: cert_certbot_result
  ignore_errors: true

- name: use standalone if port 80/tcp not listen
  ansible.builtin.set_fact:
    cert_certbot_useplugin: standalone
  when: cert_certbot_result.failed

- name: set command line
  ansible.builtin.set_fact:
    cert_certbot_create_cmd: >-
      /usr/bin/certbot certonly --agree-tos -n -q
      --email {{ cert_certbot_email_address }}
      --cert-name {{ cert_certbot_cn }}
      -d {{ cert_certbot_cn }}
      {% if cert_certbot_san != [] %}
      {%- for san in cert_certbot_san -%}
      {{ '-d ' + (san | split(':'))[1] if (san | split(':'))[0] | lower == 'dns' else '' }}
      {% endfor %}
      {% endif %}
      {{ cert_certbot_plugins[cert_certbot_useplugin] }}
      {% if cert_certbot_reloadservices | default(cert_certbot_default_reloadservices) != [] %}
      --deploy-hook "systemctl reload {{ cert_certbot_reloadservices | join(' ') }}"
      {% endif %}
      --expand
    cert_certbot_renew_cmd: >-
      /usr/bin/certbot renew --agree-tos -n -q
      --cert-name {{ cert_certbot_cn }}
      {{ cert_certbot_plugins['webroot'] }}
      {% if cert_certbot_reloadservices | default(cert_certbot_default_reloadservices) != [] %}
      --deploy-hook "systemctl reload {{ cert_certbot_reloadservices | join(' ') }}"
      {% endif %}

- name: certbot certonly {{ cert_certbot_cn }}
  ansible.builtin.command:
    cmd: "{{ cert_certbot_create_cmd }}"
    creates: "{{ cert_certbot_fullchain_file if not (cert_certbot_force or cert_certbot_issue) else '' }}"
  register: cert_certbot_result
  notify: "{{ cert_certbot_notify }}"
  when: 
    - cert_certbot_issue
    - not cert_certbot_dryrun

- name: certbot dryrun {{ cert_certbot_cn }}
  ansible.builtin.debug:
    msg: "{{ cert_certbot_create_cmd }}"
  when: 
    - cert_certbot_issue
    - cert_certbot_dryrun

# - debug:
#     msg:
#       - "{{ (cert_certbot_force or cert_certbot_issue) }}"
#       - "{{ cert_certbot_fullchain_file if not (cert_certbot_force or cert_certbot_issue) else '' }}"
#       - "{{ cert_certbot_force }}"
#       - "{{ cert_certbot_issue }}"
#       - "{{ cert_certbot_create_cmd }}"
#       - "{{ cert_certbot_renew_cmd }}"
#       - "{{ cert_certbot_result }}"

- name: renew cron job
  ansible.builtin.cron:
    name: "renew {{ cert_certbot_cn }}"
    weekday: "*"
    minute: "*"
    hour: "5"
    user: root
    job: "{{ cert_certbot_renew_cmd }}"
    cron_file: "cert_certbot_renew"
    disabled: false

# - name: Fetch crt {{ cert_certbot_cn }}
#   delegate_to: localhost
#   ansible.builtin.copy:
#     mode: "{{ cert_certbot_default_file_mode }}"
#     content: "{{ cert_certbot_crt_result.certificate }}"
#     dest: "{{ cert_certbot_fetch_dir }}/{{ cert_certbot_cn }}.crt"
#     backup: true
#   when: cert_certbot_fetch_crt

# - name: Fetch csr {{ cert_certbot_cn }}
#   delegate_to: localhost
#   ansible.builtin.copy:
#     mode: "{{ cert_certbot_default_file_mode }}"
#     content: "{{ cert_certbot_csr_result.csr }}"
#     dest: "{{ cert_certbot_fetch_dir }}/{{ cert_certbot_cn }}.csr"
#     backup: true
#   when: cert_certbot_fetch_csr

# - name: Fetch key {{ cert_certbot_cn }}
#   delegate_to: localhost
#   ansible.builtin.copy:
#     mode: "{{ cert_certbot_default_file_mode }}"
#     content: "{{ cert_certbot_key_result.privatekey }}"
#     dest: "{{ cert_certbot_fetch_dir }}/{{ cert_certbot_cn }}.key"
#     backup: true
#   when: cert_certbot_fetch_key
