- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ cert_certbot_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false
  loop_control:
    loop_var: cert_certbot_item

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ cert_certbot_item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  loop_control:
    loop_var: cert_certbot_item

- name: Isuue certificates
  when: cert_certbot_list != []
  ansible.builtin.include_tasks:
    file: "certbot.yml"
  loop: "{{ cert_certbot_list }}"
  loop_control:
    loop_var: cert_certbot_item
    label: "{{ cert_certbot_item.cn }}"
  vars:
    # misc
    cert_certbot_live_dir: "{{ cert_certbot_default_root_dir }}/live/{{ cert_certbot_cn }}"
    cert_certbot_force: "{{ cert_certbot_item.force | default(false) }}"
    cert_certbot_notify: '{{ cert_certbot_item.notify | default(cert_certbot_default_notify) }}'
    cert_certbot_webroot: '{{ cert_certbot_item.webroot | default(cert_certbot_default_certbot_webroot) }}'
    # cert_certbot_reloadservices: '{{ cert_certbot_item.reloadservices | default(cert_certbot_default_reloadservices) }}'
    # csr
    cert_certbot_email_address: '{{ cert_certbot_item.email_address | default(cert_certbot_default_email_address) }}'
    cert_certbot_cn: '{{ cert_certbot_item.cn | default(cert_certbot_default_cn) }}'
    cert_certbot_san: '{{ cert_certbot_item.san | default(cert_certbot_default_san) }}'
    # files
    cert_certbot_key_file: "{{ cert_certbot_live_dir }}/privkey.pem"
    cert_certbot_crt_file: "{{ cert_certbot_live_dir }}/cert.pem"
    cert_certbot_fullchain_file: "{{ cert_certbot_live_dir }}/fullchain.pem"
    cert_certbot_chain_file: "{{ cert_certbot_live_dir }}/chain.pem"
    # # fetch
    # cert_certbot_fetch_dir: '{{ cert_certbot_item.fetch_dir | default(cert_certbot_default_fetch_dir) }}'
    # cert_certbot_fetch_crt: '{{ cert_certbot_item.fetch_crt | default(cert_certbot_default_fetch_crt) }}'
    # cert_certbot_fetch_csr: '{{ cert_certbot_item.fetch_csr | default(cert_certbot_default_fetch_csr) }}'
    # cert_certbot_fetch_key: '{{ cert_certbot_item.fetch_key | default(cert_certbot_default_fetch_key) }}'
