- name: Distribution specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true
  failed_when: false

- name: Distribution specific tasks
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - "_{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "_{{ ansible_distribution | lower }}.yml"
    - "_{{ ansible_os_family | lower }}.yml"
  ignore_errors: true

- name: create dirs
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
  loop: "{{ squid_dirs }}"

- name: "{{ squid_conf_file }}"
  ansible.builtin.template:
    backup: true
    src: squid.conf
    dest: "{{ squid_conf_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: Squid restart

- name: systemctl enable squid
  ansible.builtin.systemd_service:
    name: squid
    enabled: true
  notify: Squid restart
